@tailwind base;

@tailwind components;

@tailwind utilities;

@responsive {
  .h-screen-75 {
    height: 75vh;
  }

  .h-screen-50 {
    height: 50vh;
  }

  .max-h-screen-75 {
    max-height: 75vh;
  }
}

html {
  scroll-behavior: smooth;
}
